header{
    background-color: rgb(5, 15, 105);  /*цвет фона*/
    height: 500px;                               /*высота*/
    color: rgb(7, 231, 201);               /*цвет текста*/
    font-size: 50px;                         /*размер текста*/
    text-align: center;                      /*выравнивание текста*/
    width: 100%;                            /*ширина блока*/

     /*фоновое изображение*/
    /*.ctrl/ */
    background-image: url("beautiful-sunrise-clouds-scenery-paddy-field-anime-8k-wallpaper-7680x4320.jpg") ; 
    background-position-x: center;
    background-position-y: 700px;
    background-size: 100%;
    text-align: center;
    

}   



    

main{
    background-color: rgb(4, 24, 114);  /*цвет фона*/
    height: 100%;                               /*высота*/
    color: rgb(11, 192, 216);               /*цвет текста*/
    font-size: 25px;                         /*размер текста*/
    text-align: center;                      /*выравнивание текста*/
    width: 100%;                              /*ширина блока*/
    text-align: justify; 
    display: flex;
    justify-content: center;


}  
footer{
    background-color: rgb(5, 13, 117);  /*цвет фона*/
    height: 200px;                               /*высота*/
    color: rgb(10, 206, 189);               /*цвет текста*/
    font-size: 20px;                         /*размер текста*/
    text-align: center;                      /*выравнивание текста*/
    width: 100%;                              /*ширина блока*/
    padding-top: 20px;
    
}
body{
    /*код для фона */
    background-image: url("beautiful-sunrise-clouds-scenery-paddy-field-anime-8k-wallpaper-7680x4320.jpg");
}
    



.container{
    width: 75%;
    margin: 0;
}

.block1{
    background-color:rgb(20, 34, 156);
    text-align: center;
}

.block2{
    background-color: rgb(16, 107, 192);
    padding-left: 0%; 
}

.block3{
    background-color: rgb(16, 29, 211);
    text-align: center;
    padding-top: 5px;
}




.numpoint{
    display: flex;  /*расставляет анутрио блоки по очереди*/

}
.point{
    background-color: rgb(31, 13, 192);
    float: left;
    height: 400px; 
    width: 50%;
    margin: 10px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    border: 10px solid rgba(43, 116, 134, 0.75);
    background-color: rgba(196, 253, 255, 0.921);
    font-size: 24px;
    color: rgb(42, 161, 165)


}
.point li{
    background-color: rgba(20, 213, 220, 0.454);
    margin-top: 10px;
    border-radius:3em /*округляет углы*/;
    width: 90%;
    padding-left: 20px;
    list-style: #fff;      /*Цвет списка*/
    list-style-type: disc;      /*Тип маркера*/
    list-style-type: "\1F44D";  /*Тип маркера в виде emoji*/
    list-style-position: outside;     /*вывод маркера за пределы пункта*/
        list-style-image: url(image.gif)   /*использование изображения вместо маркера*/ 


}
.point li:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
}
.number{
    background-color: rgb(9, 94, 105);
    float: right;
    height: 400px;
    width: 50%;
    margin:10px
}
.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: center; /*выравниваниет иконки по центру внутри каждого пункта */ 
    justify-content: center; /*выравнивает все иконки по центру страницы */

}
.social li{
    padding: 5px;
}